{% extends 'base.html' %}
{% block title %}Change Password | Spice Garden{% endblock title %}
{% block content %}
<div class="container">
    <br>
    <h1 class="text-center my_title">Change Password</h1>
    <br>
    <p>Please enter your old password and then enter the new password and confirmation of the new password to change your</p>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-dark" type="submit" value="Change Password">
        </form>
    </div>
</div>
<br>

{% endblock content %}
