{% extends "base.html" %}
{% load static %}
{% block title %}
Thank you | Spice Garden
{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center">
        <br>
        <br>
        <h1 class="text-center my_title">
            Thanks for your review!
        </h1>
        <br>
        <br>
        <p>
            Thank you for sharing your experience with us! Your feedback is invaluable in helping us improve 
            our services. We appreciate your support and look forward to serving you again soon.
        </p>
    </div>
</div>
<br>
<br>
{% endblock %}    