{% extends 'base.html' %}
{% block title %}Reservation Made{% endblock title %}
{% block content %}
<div class="container">
<br>
<h1 class="text-center my_title">Your Reservation Has Been Made Successfully.....</h1>
<br>

<h2 class="my_title"> Your Reservation Details </h2>
<p><strong>Name:</strong> {{reservation.name }}</p>
<p><strong>Email:</strong> {{reservation.email }}</p>
<p><strong>Phone:</strong> {{reservation.phone }}</p>
<p><strong>Number of Persons:</strong> {{reservation.number_of_persons }}</p>
<p><strong>Date:</strong> {{reservation.date }}</p>
<p><strong>Time:</strong> {{reservation.time }}</p>
<p><strong>Message:</strong> {{reservation.message }}</p>


<a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-dark">Edit Reservation</a>


</div>
<br>
{% endblock content %}